.splash-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Yellow Circle */
.circle {
  position: absolute;
  width: 280px;
  height: 280px;
  background: #fff688;
  border-radius: 50%;
  transition: all 0.9s ease-in;
}

.circle.expand {
  width: 3000px;
  height: 3000px;
}

/* Logo Animation */
.logo {
  width: 100px;
  height: 100px;
  opacity: 0;
  transform: scale(0);
  transition: transform 1s cubic-bezier(0.34, 1.6, 0.4, 1), opacity 1s;
}

.logo.scale {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 480px) {
  .logo {
    width: 80px;
    height: 80px;
  }
}
