.signin-container {
  padding: 40px;
  text-align: center;
  background: white;
  height: 100vh;
}

.title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 40px;
}

.subtitle {
  font-size: 15px;
  color: #000000b0;
  margin-top: 20px;
}

.get-started {
  margin-top: 40px;
  font-size: 16px;
}

.btn-row {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}

.role-btn {
  flex: 1;
  padding: 50px 0;
  font-size: 15px;
  font-weight: 600;
  border-radius: 16px;
  background: #fdfd96;
  border: none;
  cursor: pointer;
}

.role-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.login-row {
  margin-top: 80px;
  font-size: 15px;
  font-weight: 600;
}

.login-btn {
  background: #fdfd96;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
}

.logo-box {
  margin-top: 40px;
  display: inline-block;
  background: #fdfd96;
  padding: 10px;
  border-radius: 12px;
}

.logo {
  width: 40px;
  height: 40px;
}
