.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f6f9;
  padding: 20px;
}

.otp-box {
  background: #ffffff;
  padding: 35px;
  width: 350px;
  border-radius: 18px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.otp-box h2 {
  margin-bottom: 10px;
  font-size: 28px;
  color: #222;
  font-weight: 700;
}

.otp-email {
  color: #777;
  margin-bottom: 20px;
  font-size: 14px;
}

.otp-input {
  width: 100%;
  padding: 14px;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 10px;
  font-weight: bold;
  outline: none;
  transition: 0.3s;
}

.otp-input:focus {
  border-color: #4f46e5;
}

.verify-btn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: #4f46e5;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.verify-btn:hover {
  background: #4338ca;
}

.resend-area {
  margin-top: 18px;
}

.timer {
  font-size: 15px;
  color: #999;
}

.resend-btn {
  background: transparent;
  border: none;
  color: #4f46e5;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}

.resend-btn:hover {
  text-decoration: underline;
}
