.signup-wrapper {
  padding: 24px;
  max-width: 420px;
  margin: auto;
  font-family: "Rubik", sans-serif;
}

.logo-box {
  background: #fdfd96;
  width: 40px;
  height: 40px;
  padding: 6px;
  border-radius: 10px;
}

.logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.signup-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.back-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.center-text {
  text-align: center;
  margin-bottom: 30px;
}

.form-container input {
  width: 100%;
  margin: 10px 0;
  padding: 14px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.password-wrapper {
  position: relative;
}

.toggle-icon {
  position: absolute;
  right: 16px;
  top: 14px;
  cursor: pointer;
}

.yellow-btn {
  width: 100%;
  padding: 14px;
  background: #ffeb3b;
  border: 1px solid black;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.yellow-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.login-text {
  text-align: center;
  margin-top: 30px;
}

.login-link {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
